.vscode
/config/.env
/data
/__pycache__
*.ipynb_checkpoints
/data/raw
/data/processed
/winner_models
/scripts/__pycache__
/scripts/api/__pycache__
/scripts/app/__pycache__
/scripts/architectures/__pycache__
/models
/scripts/app/server/__pycache__
/scaled_transform