.vscode
/config/.env
/data
/model
/__pycache__
*.ipynb_checkpoints
/data/raw
/data/processed
/winner_models
/models
/scripts/__pycache__
/scripts/api/__pycache__
/scripts/app/__pycache__
/scripts/architectures/__pycache__
scripts/app/server/__pycache__
.dvcignore
.dvc
data.dvc
models.dvc
scaled_transform.dvc
winner_models.dvc